<!DOCTYPE html>
<html lang="en" class="resume_template" style="font-family:sans-serif; background:wheat">
<head>
    </head>
<body style="background-color:white; margin:0 auto; padding:20px; width:275mm; border:0; box-shadow:none; height:390mm; outline:none; position:relative" bgcolor="white" width="275mm" height="390mm">
    <div class="float-left section-left" style="float:left; background:#D4EDE7; height:100%; width:30%" height="100%" width="30%">
        <div style="padding:0 20px">  
                <img src="https://via.placeholder.com/150" width="180px" alt="" class="img-circle" style="border-radius:50%; margin-left:40px; margin-top:20px">
            <h1 style="font-size:35px; margin-top:80px">
                Contacts
            
            <h3>
                +123123 123
            </h3>
            </h1>
<p style="color:#697372; font-size:20px">
                Adressma pasdpad apsdmamsd asd osndpfjodjfpjj
            </p>
            <h1 style="font-size:35px; margin-top:80px">
                Summary
            
            </h1>
<p style="color:#697372; font-size:20px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            </p>
            <h1 style="font-size:35px; margin-top:80px">
                Education
            </h1>
            <h3>
                University Name Here
            </h3>
            <p style="color:#697372; font-size:20px">September 1010 - april 2013</p>
            <h3>
                Second institute
            </h3>
            <p style="color:#697372; font-size:20px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
        </div>
    </div>
    <div class="float-right section-right" style="float:right; padding-right:16px; width:65%" width="65%">
        <h1 class="name-size float-right" style="font-size:60px; margin-top:20px; float:right">Name Here</h1>
        <div style="padding-top:150px">
            <h1 style="font-size:35px; margin-top:80px">
                Professional Experience
            </h1>
            <p style="color:#697372; font-size:20px"><b style="padding-top:20px">Digital Media Specialist</b></p>
            <ul>
                <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                
            </ul>
            <p style="color:#697372; font-size:20px"><b style="padding-top:20px">Digital Media Specialist</b></p>
            <ul>
                <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                
            </ul>
            <h1 style="font-size:35px; margin-top:80px">
                    Professional Experience
                </h1>
                <p style="color:#697372; font-size:20px"><b style="padding-top:20px">Digital Media Specialist</b></p>
                <ul>
                    <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li style="color:#697372; font-size:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                </ul>
        </div>
    </div>
</body>
</html>